.sidebar {
  width: 150px;
  height: 100vh;
  background-color: #3f4b57;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.sidebar ul li a:hover {
  color: #dbb405;
}
